# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
.env/
.winvenv/

# IDE/editor settings
.vscode/
.vs/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log